In [1]:
import os
import pandas as pd
from pandas import isnull
master = pd.read_csv(os.path.join('./data/', 'master.csv'))
master.head()

,playerID,coachID,hofID,firstName,lastName,nameNote,nameGiven,nameNick,height,weight,...,birthDay,birthCountry,birthState,birthCity,deathYear,deathMon,deathDay,deathCountry,deathState,deathCity
0,aaltoan01,NaN,NaN,Antti,Aalto,NaN,Antti,NaN,73.0,210.0,...,4.0,Finland,NaN,Lappeenranta,NaN,NaN,NaN,NaN,NaN,NaN
1,abbeybr01,NaN,NaN,Bruce,Abbey,NaN,Bruce,NaN,73.0,185.0,...,18.0,Canada,ON,Toronto,NaN,NaN,NaN,NaN,NaN,NaN
2,abbotge01,NaN,NaN,George,Abbott,NaN,George Henry,Preacher,67.0,153.0,...,3.0,Canada,ON,Synenham,NaN,NaN,NaN,NaN,NaN,NaN
3,abbotre01,NaN,NaN,Reg,Abbott,NaN,Reginald Stewart,NaN,71.0,164.0,...,4.0,Canada,MB,Winnipeg,NaN,NaN,NaN,NaN,NaN,NaN
4,abdelju01,NaN,NaN,Justin,Abdelkader,NaN,NaN,NaN,73.0,195.0,...,25.0,USA,MI,Muskegon,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
master.shape

(7761, 31)

In [3]:
master.columns

Index(['playerID', 'coachID', 'hofID', 'firstName', 'lastName', 'nameNote',
       'nameGiven', 'nameNick', 'height', 'weight', 'shootCatch', 'legendsID',
       'ihdbID', 'hrefID', 'firstNHL', 'lastNHL', 'firstWHA', 'lastWHA', 'pos',
       'birthYear', 'birthMon', 'birthDay', 'birthCountry', 'birthState',
       'birthCity', 'deathYear', 'deathMon', 'deathDay', 'deathCountry',
       'deathState', 'deathCity'],
      dtype='object')

In [4]:
(master['playerID'].pipe(isnull).value_counts())

False    7520
True      241
Name: playerID, dtype: int64

In [5]:

isnull(master['playerID']).value_counts()

False    7520
True      241
Name: playerID, dtype: int64

In [6]:
master_org = master.copy()
master = master.dropna(subset=['playerID'])

In [7]:
master.shape

(7520, 31)

In [8]:
master_org.shape

(7761, 31)

In [9]:
master.columns

Index(['playerID', 'coachID', 'hofID', 'firstName', 'lastName', 'nameNote',
       'nameGiven', 'nameNick', 'height', 'weight', 'shootCatch', 'legendsID',
       'ihdbID', 'hrefID', 'firstNHL', 'lastNHL', 'firstWHA', 'lastWHA', 'pos',
       'birthYear', 'birthMon', 'birthDay', 'birthCountry', 'birthState',
       'birthCity', 'deathYear', 'deathMon', 'deathDay', 'deathCountry',
       'deathState', 'deathCity'],
      dtype='object')

In [11]:
master = master.dropna(subset=['firstNHL', 'lastNHL'], how='all')

In [12]:
master.columns

Index(['playerID', 'coachID', 'hofID', 'firstName', 'lastName', 'nameNote',
       'nameGiven', 'nameNick', 'height', 'weight', 'shootCatch', 'legendsID',
       'ihdbID', 'hrefID', 'firstNHL', 'lastNHL', 'firstWHA', 'lastWHA', 'pos',
       'birthYear', 'birthMon', 'birthDay', 'birthCountry', 'birthState',
       'birthCity', 'deathYear', 'deathMon', 'deathDay', 'deathCountry',
       'deathState', 'deathCity'],
      dtype='object')

In [13]:
master.shape

(6851, 31)

In [14]:
master = master.loc[master['lastNHL'] >= 1980]
master.shape

(4627, 31)

In [15]:
master.columns

Index(['playerID', 'coachID', 'hofID', 'firstName', 'lastName', 'nameNote',
       'nameGiven', 'nameNick', 'height', 'weight', 'shootCatch', 'legendsID',
       'ihdbID', 'hrefID', 'firstNHL', 'lastNHL', 'firstWHA', 'lastWHA', 'pos',
       'birthYear', 'birthMon', 'birthDay', 'birthCountry', 'birthState',
       'birthCity', 'deathYear', 'deathMon', 'deathDay', 'deathCountry',
       'deathState', 'deathCity'],
      dtype='object')

In [16]:
columns_to_keep = ['playerID','firstName', 'lastName', 'pos', 'birthYear', 'birthMon', 'birthDay', 'birthCountry', 'birthState', 'birthCity' ]
master[columns_to_keep].head()

,playerID,firstName,lastName,pos,birthYear,birthMon,birthDay,birthCountry,birthState,birthCity
0,aaltoan01,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta
4,abdelju01,Justin,Abdelkader,L,1987.0,2.0,25.0,USA,MI,Muskegon
9,abidra01,Ramzi,Abid,L,1980.0,3.0,24.0,Canada,QC,Montreal
11,abrahth01,Thommy,Abrahamsson,D,1947.0,4.0,12.0,Sweden,NaN,Leksand
14,actonke01,Keith,Acton,C,1958.0,4.0,15.0,Canada,ON,Stouffville

In [17]:
master.filter(columns_to_keep).head()

,playerID,firstName,lastName,pos,birthYear,birthMon,birthDay,birthCountry,birthState,birthCity
0,aaltoan01,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta
4,abdelju01,Justin,Abdelkader,L,1987.0,2.0,25.0,USA,MI,Muskegon
9,abidra01,Ramzi,Abid,L,1980.0,3.0,24.0,Canada,QC,Montreal
11,abrahth01,Thommy,Abrahamsson,D,1947.0,4.0,12.0,Sweden,NaN,Leksand
14,actonke01,Keith,Acton,C,1958.0,4.0,15.0,Canada,ON,Stouffville

In [18]:
master = master.filter(regex="(playerID|pos|^birth)|(Name$)")
master.columns

Index(['playerID', 'firstName', 'lastName', 'pos', 'birthYear', 'birthMon',
       'birthDay', 'birthCountry', 'birthState', 'birthCity'],
      dtype='object')

In [19]:
def mem_mib(df):
    print('{0:.2f} MiB'.format(df.memory_usage(deep=True).sum() / 1024 ** 2))
mem_mib(master)
mem_mib(master_org)

2.03 MiB
7.45 MiB

In [20]:
master['pos'].value_counts()

D      1418
C      1037
L       848
R       832
G       463
F        28
L/C       1
Name: pos, dtype: int64

In [21]:
pd.Categorical(master['pos'])

['C', 'L', 'L', 'D', 'C', ..., 'R', 'L', 'L', 'C', 'D']
Length: 4627
Categories (7, object): ['C', 'D', 'F', 'G', 'L', 'L/C', 'R']

In [22]:
def make_categorical(df, col):
    df[col] = pd.Categorical(df[col])

make_categorical(master, 'pos')
make_categorical(master, 'birthCountry')
make_categorical(master, 'birthState')
mem_mib(master)

1.29 MiB

In [23]:
master.head()

,playerID,firstName,lastName,pos,birthYear,birthMon,birthDay,birthCountry,birthState,birthCity
0,aaltoan01,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta
4,abdelju01,Justin,Abdelkader,L,1987.0,2.0,25.0,USA,MI,Muskegon
9,abidra01,Ramzi,Abid,L,1980.0,3.0,24.0,Canada,QC,Montreal
11,abrahth01,Thommy,Abrahamsson,D,1947.0,4.0,12.0,Sweden,NaN,Leksand
14,actonke01,Keith,Acton,C,1958.0,4.0,15.0,Canada,ON,Stouffville

In [24]:
master.set_index('playerID')
master.head()

,playerID,firstName,lastName,pos,birthYear,birthMon,birthDay,birthCountry,birthState,birthCity
0,aaltoan01,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta
4,abdelju01,Justin,Abdelkader,L,1987.0,2.0,25.0,USA,MI,Muskegon
9,abidra01,Ramzi,Abid,L,1980.0,3.0,24.0,Canada,QC,Montreal
11,abrahth01,Thommy,Abrahamsson,D,1947.0,4.0,12.0,Sweden,NaN,Leksand
14,actonke01,Keith,Acton,C,1958.0,4.0,15.0,Canada,ON,Stouffville

In [25]:
master.to_pickle(os.path.join('./data/', 'master.pkl'))

In [31]:
scoring = pd.read_csv(os.path.join('./data/', 'Scoring.csv'))
mem_mib(scoring)
scoring.shape

20.15 MiB

(45967, 31)

In [32]:
def recent_nhl_only(df):
    return df[(df['lgID'] == 'NHL') & (df['year'] >= 1980)]

scoring = recent_nhl_only(scoring)
scoring.shape

(28616, 31)

In [33]:
scoring.columns

Index(['playerID', 'year', 'stint', 'tmID', 'lgID', 'pos', 'GP', 'G', 'A',
       'Pts', 'PIM', '+/-', 'PPG', 'PPA', 'SHG', 'SHA', 'GWG', 'GTG', 'SOG',
       'PostGP', 'PostG', 'PostA', 'PostPts', 'PostPIM', 'Post+/-', 'PostPPG',
       'PostPPA', 'PostSHG', 'PostSHA', 'PostGWG', 'PostSOG'],
      dtype='object')

In [34]:
scoring = scoring.filter(regex='^(?!(Post|PP|SH)).*')
scoring.columns

Index(['playerID', 'year', 'stint', 'tmID', 'lgID', 'pos', 'GP', 'G', 'A',
       'Pts', 'PIM', '+/-', 'GWG', 'GTG', 'SOG'],
      dtype='object')

In [36]:
scoring = scoring.iloc[:, [0,1,3,6,7,8,9,14]]
scoring.columns

Index(['playerID', 'year', 'tmID', 'GP', 'G', 'A', 'Pts', 'SOG'], dtype='object')

In [38]:
make_categorical(scoring, 'tmID')
scoring.head()

    playerID  year tmID    GP    G     A   Pts    SOG
0  aaltoan01  1997  ANA   3.0  0.0   0.0   0.0    1.0
1  aaltoan01  1998  ANA  73.0  3.0   5.0   8.0   61.0
2  aaltoan01  1999  ANA  63.0  7.0  11.0  18.0  102.0
3  aaltoan01  2000  ANA  12.0  1.0   1.0   2.0   18.0
7  abdelju01  2007  DET   2.0  0.0   0.0   0.0    6.0

In [40]:
scoring.reset_index(drop=True).head()

    playerID  year tmID    GP    G     A   Pts    SOG
0  aaltoan01  1997  ANA   3.0  0.0   0.0   0.0    1.0
1  aaltoan01  1998  ANA  73.0  3.0   5.0   8.0   61.0
2  aaltoan01  1999  ANA  63.0  7.0  11.0  18.0  102.0
3  aaltoan01  2000  ANA  12.0  1.0   1.0   2.0   18.0
4  abdelju01  2007  DET   2.0  0.0   0.0   0.0    6.0

In [41]:
scoring.to_pickle(os.path.join('./data/', 'scoring.pkl'))

In [47]:
teams = pd.read_csv(os.path.join('./data/', 'Teams.csv'))
teams = recent_nhl_only(teams)
teams = teams[['year', 'tmID', 'name']]
teams.head()
teams.shape

(792, 3)

In [48]:
teams.nunique()

year    31
tmID    37
name    37
dtype: int64

In [49]:
make_categorical(teams, 'tmID')

In [50]:
teams.to_pickle(os.path.join('./data/', 'teams.pkl'))

In [52]:
team_splits = pd.read_csv(os.path.join('./data/', 'TeamSplits.csv'))
team_splits = recent_nhl_only(team_splits)
team_splits.shape

(792, 43)

In [53]:
columns_to_drop = team_splits.columns[3:11]
team_splits = team_splits.drop(columns=columns_to_drop)
team_splits.columns

Index(['year', 'lgID', 'tmID', 'SepW', 'SepL', 'SepT', 'SepOL', 'OctW', 'OctL',
       'OctT', 'OctOL', 'NovW', 'NovL', 'NovT', 'NovOL', 'DecW', 'DecL',
       'DecT', 'DecOL', 'JanW', 'JanL', 'JanT', 'JanOL', 'FebW', 'FebL',
       'FebT', 'FebOL', 'MarW', 'MarL', 'MarT', 'MarOL', 'AprW', 'AprL',
       'AprT', 'AprOL'],
      dtype='object')

In [54]:
team_splits = team_splits.drop(columns='lgID')
team_splits.shape

(792, 34)

In [55]:
make_categorical(team_splits, 'tmID')
team_splits.to_pickle(os.path.join('./data/', 'team_splits.pkl'))

In [71]:
master = pd.read_pickle(os.path.join('./data/', 'master.pkl'))
scoring = pd.read_pickle(os.path.join('./data/', 'scoring.pkl'))
teams = pd.read_pickle(os.path.join('./data/', 'teams.pkl'))
team_splits = pd.read_pickle(os.path.join('./data/', 'team_splits.pkl'))

In [72]:
master.head()

,playerID,firstName,lastName,pos,birthYear,birthMon,birthDay,birthCountry,birthState,birthCity
0,aaltoan01,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta
4,abdelju01,Justin,Abdelkader,L,1987.0,2.0,25.0,USA,MI,Muskegon
9,abidra01,Ramzi,Abid,L,1980.0,3.0,24.0,Canada,QC,Montreal
11,abrahth01,Thommy,Abrahamsson,D,1947.0,4.0,12.0,Sweden,NaN,Leksand
14,actonke01,Keith,Acton,C,1958.0,4.0,15.0,Canada,ON,Stouffville

In [73]:
scoring.head(2)

    playerID  year tmID    GP    G    A  Pts   SOG
0  aaltoan01  1997  ANA   3.0  0.0  0.0  0.0   1.0
1  aaltoan01  1998  ANA  73.0  3.0  5.0  8.0  61.0

In [74]:
master.columns

Index(['playerID', 'firstName', 'lastName', 'pos', 'birthYear', 'birthMon',
       'birthDay', 'birthCountry', 'birthState', 'birthCity'],
      dtype='object')

In [65]:
scoring.columns

Index(['playerID', 'year', 'tmID', 'GP', 'G', 'A', 'Pts', 'SOG'], dtype='object')

In [66]:
scoring.index

Int64Index([    0,     1,     2,     3,     7,     8,     9,    10,    11,
               38,
            ...
            45957, 45958, 45959, 45960, 45961, 45962, 45963, 45964, 45965,
            45966],
           dtype='int64', length=28616)

In [75]:
scoring.index + 3

Int64Index([    3,     4,     5,     6,    10,    11,    12,    13,    14,
               41,
            ...
            45960, 45961, 45962, 45963, 45964, 45965, 45966, 45967, 45968,
            45969],
           dtype='int64', length=28616)

In [79]:
master.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4627 entries, 0 to 7760
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   playerID      4627 non-null   object
 1   firstName     4627 non-null   object
 2   lastName      4627 non-null   object
 3   pos           4627 non-null   category
 4   birthYear     4627 non-null   float64
 5   birthMon      4627 non-null   float64
 6   birthDay      4627 non-null   float64
 7   birthCountry  4490 non-null   category
 8   birthState    3523 non-null   category
 9   birthCity     4490 non-null   object
dtypes: category(3), float64(3), object(4)
memory usage: 306.3+ KB

In [106]:
scoring.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28616 entries, 0 to 28615
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   playerID  28616 non-null  object
 1   year      28616 non-null  int64
 2   tmID      28616 non-null  category
 3   GP        28508 non-null  float64
 4   G         28508 non-null  float64
 5   A         28508 non-null  float64
 6   Pts       28508 non-null  float64
 7   SOG       28508 non-null  float64
dtypes: category(1), float64(5), int64(1), object(1)
memory usage: 1.6+ MB

In [107]:
pd.merge(master, scoring,indicator=True)

,playerID,firstName,lastName,pos,birthYear,birthMon,birthDay,birthCountry,birthState,birthCity,year,tmID,GP,G,A,Pts,SOG,_merge
0,aaltoan01,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta,1997,ANA,3.0,0.0,0.0,0.0,1.0,both
1,aaltoan01,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta,1998,ANA,73.0,3.0,5.0,8.0,61.0,both
2,aaltoan01,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta,1999,ANA,63.0,7.0,11.0,18.0,102.0,both
3,aaltoan01,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta,2000,ANA,12.0,1.0,1.0,2.0,18.0,both
4,abdelju01,Justin,Abdelkader,L,1987.0,2.0,25.0,USA,MI,Muskegon,2007,DET,2.0,0.0,0.0,0.0,6.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28611,zyuzian01,Andrei,Zyuzin,D,1978.0,1.0,21.0,Russia,NaN,Ufa,2002,MIN,66.0,4.0,12.0,16.0,113.0,both
28612,zyuzian01,Andrei,Zyuzin,D,1978.0,1.0,21.0,Russia,NaN,Ufa,2003,MIN,65.0,8.0,13.0,21.0,104.0,both
28613,zyuzian01,Andrei,Zyuzin,D,1978.0,1.0,21.0,Russia,NaN,Ufa,2005,MIN,57.0,7.0,11.0,18.0,80.0,both
28614,zyuzian01,Andrei,Zyuzin,D,1978.0,1.0,21.0,Russia,NaN,Ufa,2006,CAL,49.0,1.0,5.0,6.0,36.0,both
28615,zyuzian01,Andrei,Zyuzin,D,1978.0,1.0,21.0,Russia,NaN,Ufa,2007,CHI,32.0,2.0,3.0,5.0,34.0,both

In [118]:
#scoring = scoring.reset_index(drop=True)
mer = pd.merge(master, scoring)
mer

,playerID,firstName,lastName,pos,birthYear,birthMon,birthDay,birthCountry,birthState,birthCity,year,tmID,GP,G,A,Pts,SOG
0,aaltoan01,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta,1997,ANA,3.0,0.0,0.0,0.0,1.0
1,aaltoan01,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta,1998,ANA,73.0,3.0,5.0,8.0,61.0
2,aaltoan01,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta,1999,ANA,63.0,7.0,11.0,18.0,102.0
3,aaltoan01,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta,2000,ANA,12.0,1.0,1.0,2.0,18.0
4,abdelju01,Justin,Abdelkader,L,1987.0,2.0,25.0,USA,MI,Muskegon,2007,DET,2.0,0.0,0.0,0.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28611,zyuzian01,Andrei,Zyuzin,D,1978.0,1.0,21.0,Russia,NaN,Ufa,2002,MIN,66.0,4.0,12.0,16.0,113.0
28612,zyuzian01,Andrei,Zyuzin,D,1978.0,1.0,21.0,Russia,NaN,Ufa,2003,MIN,65.0,8.0,13.0,21.0,104.0
28613,zyuzian01,Andrei,Zyuzin,D,1978.0,1.0,21.0,Russia,NaN,Ufa,2005,MIN,57.0,7.0,11.0,18.0,80.0
28614,zyuzian01,Andrei,Zyuzin,D,1978.0,1.0,21.0,Russia,NaN,Ufa,2006,CAL,49.0,1.0,5.0,6.0,36.0
28615,zyuzian01,Andrei,Zyuzin,D,1978.0,1.0,21.0,Russia,NaN,Ufa,2007,CHI,32.0,2.0,3.0,5.0,34.0

In [136]:
scoring['playerID'].isna().any()

False

In [140]:
pd.merge(master, scoring, right_on='playerID')

TypeError: object of type 'NoneType' has no len()

In [123]:
pd.merge(master, scoring, left_index=True, right_on='playerID', how='left')
# pd.concat(master, scoring)

ValueError: You are trying to merge on int64 and object columns. If you wish to proceed you should use pd.concat

In [ ]:

pd.merge(master, scoring, left_index=True, right_on='playerID', how='right').shape

In [82]:
master2 = master.drop(master.sample(5).index)

In [83]:
pd.merge(master2, scoring, left_index=True, right_on='playerID', how='right').shape

ValueError: You are trying to merge on int64 and object columns. If you wish to proceed you should use pd.concat

In [ ]:
pd.merge(master2, scoring, left_index=True, right_on='playerID', how='left').shape

In [84]:
merged = pd.merge(master2, scoring, left_index=True, right_on='playerID', how='outer', indicator=True)

ValueError: You are trying to merge on int64 and object columns. If you wish to proceed you should use pd.concat

In [85]:
master

,playerID,firstName,lastName,pos,birthYear,birthMon,birthDay,birthCountry,birthState,birthCity
0,aaltoan01,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta
4,abdelju01,Justin,Abdelkader,L,1987.0,2.0,25.0,USA,MI,Muskegon
9,abidra01,Ramzi,Abid,L,1980.0,3.0,24.0,Canada,QC,Montreal
11,abrahth01,Thommy,Abrahamsson,D,1947.0,4.0,12.0,Sweden,NaN,Leksand
14,actonke01,Keith,Acton,C,1958.0,4.0,15.0,Canada,ON,Stouffville
...,...,...,...,...,...,...,...,...,...,...
7754,zubruda01,Dainius,Zubrus,R,1978.0,6.0,16.0,Lithuania,NaN,Elektrenai
7755,zuccama01,Mats,Zuccarello,L,1987.0,9.0,1.0,Norway,NaN,Oslo
7756,zuckeja01,Jason,Zucker,L,1992.0,1.0,16.0,NaN,NaN,NaN
7757,zukemi01,Mike,Zuke,C,1954.0,4.0,16.0,Canada,ON,Sault Ste. Marie
7760,zyuzian01,Andrei,Zyuzin,D,1978.0,1.0,21.0,Russia,NaN,Ufa

In [86]:
scoring

        playerID  year tmID    GP    G     A   Pts    SOG
0      aaltoan01  1997  ANA   3.0  0.0   0.0   0.0    1.0
1      aaltoan01  1998  ANA  73.0  3.0   5.0   8.0   61.0
2      aaltoan01  1999  ANA  63.0  7.0  11.0  18.0  102.0
3      aaltoan01  2000  ANA  12.0  1.0   1.0   2.0   18.0
7      abdelju01  2007  DET   2.0  0.0   0.0   0.0    6.0
...          ...   ...  ...   ...  ...   ...   ...    ...
45962  zyuzian01  2002  MIN  66.0  4.0  12.0  16.0  113.0
45963  zyuzian01  2003  MIN  65.0  8.0  13.0  21.0  104.0
45964  zyuzian01  2005  MIN  57.0  7.0  11.0  18.0   80.0
45965  zyuzian01  2006  CAL  49.0  1.0   5.0   6.0   36.0
45966  zyuzian01  2007  CHI  32.0  2.0   3.0   5.0   34.0

[28616 rows x 8 columns]

In [91]:
pd.merge(master, scoring, left_index==True)

NameError: name 'left_index' is not defined

In [92]:
merged['_merge'].value_counts()

NameError: name 'merged' is not defined

In [ ]:
merged[merged['_merge'] == 'right_only'].value_counts()

In [93]:
scoring2 = scoring.drop(scoring.sample(1000).index)
pd.merge(master2, scoring2, left_index=True, right_on='playerID', how='outer', indicator=True)

ValueError: You are trying to merge on int64 and object columns. If you wish to proceed you should use pd.concat

In [ ]:
merged[(merged['_merge'] == 'left_only')] (merged['_merge'] == 'right_only')].sample(5)

In [ ]:
merged[merged['_merge'].str.endWith('only')].sample(3)

In [ ]:
pd.merge(master, scoring, left_index=True, right_on='playerID', validate='1:m').head()

In [94]:
try:
    pd.merge(master, scoring, left_index=True, right_on='playerID', validate='1:1')
except ValueError as e:
    print(e)

You are trying to merge on int64 and object columns. If you wish to proceed you should use pd.concat

In [141]:
master.head(2)

,playerID,firstName,lastName,pos,birthYear,birthMon,birthDay,birthCountry,birthState,birthCity
0,aaltoan01,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta
4,abdelju01,Justin,Abdelkader,L,1987.0,2.0,25.0,USA,MI,Muskegon

In [142]:
scoring.head(2)

    playerID  year tmID    GP    G    A  Pts   SOG
0  aaltoan01  1997  ANA   3.0  0.0  0.0  0.0   1.0
1  aaltoan01  1998  ANA  73.0  3.0  5.0  8.0  61.0

In [143]:
pd.merge(master, scoring, left_index=True, right_on='playerID', validate='m:1').head()

ValueError: You are trying to merge on int64 and object columns. If you wish to proceed you should use pd.concat

In [144]:
scoring.index

RangeIndex(start=0, stop=28616, step=1)

In [147]:
scoring.index + 3

RangeIndex(start=6, stop=28622, step=1)

In [146]:
scoring.index += 3

In [149]:
pd.merge(master, scoring.set_index('playerID', drop=True), left_index=True, right_index=True).head()

TypeError: '<' not supported between instances of 'int' and 'str'

In [150]:
merged = merged.filter(regex="^(?!(birth)).*")
merged.head()

NameError: name 'merged' is not defined

In [151]:
teams.sample()

     year tmID             name
975  1991  STL  St. Louis Blues

In [152]:
teams

      year tmID                 name
727   1980  BOS        Boston Bruins
728   1980  BUF       Buffalo Sabres
729   1980  CAL       Calgary Flames
730   1980  CHI  Chicago Black Hawks
731   1980  COR     Colorado Rockies
...    ...  ...                  ...
1514  2011  TBL  Tampa Bay Lightning
1515  2011  TOR  Toronto Maple Leafs
1516  2011  VAN    Vancouver Canucks
1517  2011  WAS  Washington Capitals
1518  2011  WPG        Winnipeg Jets

[792 rows x 3 columns]

In [153]:
teams.shape

(792, 3)

In [154]:
team_splits.sample()

,year,tmID,SepW,SepL,SepT,SepOL,OctW,OctL,OctT,OctOL,...,FebT,FebOL,MarW,MarL,MarT,MarOL,AprW,AprL,AprT,AprOL
750,1981,CAL,NaN,NaN,NaN,NaN,2.0,7.0,2.0,NaN,...,3.0,NaN,5.0,6.0,2.0,NaN,1.0,1.0,0.0,NaN

In [155]:
teams2 = teams[['tmID', 'name']]
teams2 = teams2.drop_duplicates()
teams2['tmID'].value_counts().head()

CHI    2
MIN    1
HAR    1
FLO    1
EDM    1
Name: tmID, dtype: int64

In [156]:
teams2

     tmID                     name
727   BOS            Boston Bruins
728   BUF           Buffalo Sabres
729   CAL           Calgary Flames
730   CHI      Chicago Black Hawks
731   COR         Colorado Rockies
732   DET        Detroit Red Wings
733   EDM          Edmonton Oilers
734   HAR         Hartford Whalers
735   LAK        Los Angeles Kings
736   MNS    Minnesota North Stars
737   MTL       Montreal Canadiens
738   NYI       New York Islanders
739   NYR         New York Rangers
740   PHI      Philadelphia Flyers
741   PIT      Pittsburgh Penguins
742   QUE         Quebec Nordiques
743   STL          St. Louis Blues
744   TOR      Toronto Maple Leafs
745   VAN        Vancouver Canucks
746   WAS      Washington Capitals
747   WIN            Winnipeg Jets
779   NJD        New Jersey Devils
856   CHI       Chicago Blackhawks
974   SJS          San Jose Sharks
993   OTT          Ottawa Senators
999   TBL      Tampa Bay Lightning
1004  ANA  Mighty Ducks of Anaheim
1009  DAL             Dallas Stars
1012  FLO         Florida Panthers
1061  COL       Colorado Avalanche
1100  PHO          Phoenix Coyotes
1112  CAR      Carolina Hurricanes
1147  NAS      Nashville Predators
1162  ATL        Atlanta Thrashers
1195  CBS    Columbus Blue Jackets
1203  MIN           Minnesota Wild
1339  AND            Anaheim Ducks
1518  WPG            Winnipeg Jets

In [158]:
teams2.loc[teams2['tmID'] == 'CHI']

    tmID                 name
730  CHI  Chicago Black Hawks
856  CHI   Chicago Blackhawks

In [162]:
teams2 = teams2[teams2['tmID'] == 'CHI']
teams_splits2 = team_splits[team_splits['tmID'] == 'CHI'].sample()
teams_splits2

,year,tmID,SepW,SepL,SepT,SepOL,OctW,OctL,OctT,OctOL,...,FebT,FebOL,MarW,MarL,MarT,MarOL,AprW,AprL,AprT,AprOL
1406,2008,CHI,NaN,NaN,NaN,NaN,4.0,3.0,NaN,3.0,...,NaN,1.0,6.0,7.0,NaN,2.0,6.0,0.0,NaN,1.0

In [163]:
pd.merge(teams2, teams_splits2)

,tmID,name,year,SepW,SepL,SepT,SepOL,OctW,OctL,OctT,...,FebT,FebOL,MarW,MarL,MarT,MarOL,AprW,AprL,AprT,AprOL
0,CHI,Chicago Black Hawks,2008,NaN,NaN,NaN,NaN,4.0,3.0,NaN,...,NaN,1.0,6.0,7.0,NaN,2.0,6.0,0.0,NaN,1.0
1,CHI,Chicago Blackhawks,2008,NaN,NaN,NaN,NaN,4.0,3.0,NaN,...,NaN,1.0,6.0,7.0,NaN,2.0,6.0,0.0,NaN,1.0