In [1]:
import pandas as pd
import numpy as np

Types to Be aware of

+ np.array / np.ndarray (n-dimensional)
+ pd.Series (single column)
+ pd.DataFrame (multi-column data)

In [2]:
my_numpy_array = np.random.rand(3)
my_numpy_array

array([0.78206065, 0.22539318, 0.42017789])

In [3]:
my_first_series = pd.Series(np.random.rand(3))
my_first_series

0    0.994155
1    0.976858
2    0.271900
dtype: float64

In [4]:
my_first_df = pd.DataFrame(np.random.rand(3,2))
my_first_df

          0         1
0  0.099415  0.432625
1  0.702829  0.357867
2  0.200971  0.406744

In [5]:
my_numpy_array

array([0.78206065, 0.22539318, 0.42017789])

In [6]:
my_series = pd.Series(my_numpy_array)
my_series

0    0.782061
1    0.225393
2    0.420178
dtype: float64

In [11]:
my_series = pd.DataFrame(my_numpy_array, index=['First', 'Second', 'Third'])
my_series

               0
First   0.782061
Second  0.225393
Third   0.420178

In [8]:
my_series[0]

First     0.782061
Second    0.225393
Third     0.420178
Name: 0, dtype: float64

In [9]:
my_series

               0
First   0.782061
Second  0.225393
Third   0.420178

In [12]:
my_series['First']

KeyError: 'First'

In [14]:
my_series.loc['First']

0    0.782061
Name: First, dtype: float64

In [15]:
my_series.iloc[0]

0    0.782061
Name: First, dtype: float64

In [17]:
array_2d = np.random.rand(3,2)
array_2d[0,1]

0.5545895851012845

In [18]:
df = pd.DataFrame(array_2d)
df

          0         1
0  0.598458  0.554590
1  0.968209  0.923607
2  0.817796  0.414853

In [19]:
df.columns

RangeIndex(start=0, stop=2, step=1)

In [20]:
df.columns = ['First', 'Second']
df

      First    Second
0  0.598458  0.554590
1  0.968209  0.923607
2  0.817796  0.414853

In [21]:
df['Second']

0    0.554590
1    0.923607
2    0.414853
Name: Second, dtype: float64

Different Data Types

+ Text files
  + csv
  + json
  + html tables
+ Binary files
+ Relational databases
+

In [28]:
import pandas as pd
import numpy as np
import os
cols_to_uses = ['id', 'artist', 'title', 'medium', 'year', 'acquisitionYear', 'height', 'width', 'units']
# df = pd.read_csv(os.path.join('./data/', 'artwork_data.csv'), nrows=5, index_col='id',usecols=cols_to_uses)
df = pd.read_csv(os.path.join('./data/', 'artwork_data.csv'), index_col='id',usecols=cols_to_uses)
# df.to_pickle(os.path.join('./data/', 'data_frame.pickle'))

/Users/yaojack/anaconda3/envs/ml/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (9,13) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [29]:
records = [('Espresso', '5$'), ('flot White', '10$')]
df1 = pd.DataFrame.from_records(records)
df1

            0    1
0    Espresso   5$
1  flot White  10$

In [31]:
df2 = pd.DataFrame.from_records(records, columns=['Coffee', 'Price'])
df2
import json

In [32]:
keys_to_use = ['id', 'all_artists','title', 'medium', 'acquisitionYear', 'height', 'width']
def get_record_from_file(file_path, keys_to_use):
    with open(file_path) as artwork_file:
        content = json.load(artwork_file)
        record = []
        for field in keys_to_use:
            record.append(content[field])
    return tuple(record)

In [34]:
sample_json = os.path.join('./data', 'exercise', 'demos', 'collection-master', 'artworks', 'a', '000', 'a00001-1035.json')
sample_record = get_record_from_file(sample_json, keys_to_use)

In [35]:
sample_json

'./data/exercise/demos/collection-master/artworks/a/000/a00001-1035.json'

In [36]:
sample_record

(1035,
 'Robert Blake',
 'A Figure Bowing before a Seated Old Man with his Arm Outstretched in Benediction. Verso: Indecipherable Sketch',
 'Watercolour, ink, chalk and graphite on paper. Verso: graphite on paper',
 1922,
 '419',
 '394')

In [37]:
def read_artworks_from_json(keys_to_use):
    json_root = os.path.join('./data', 'exercise', 'demos', 'collection-master', 'artworks')
    artworks = []
    for root, _, files in os.walk(json_root):
        for f in files:
            if f.endswith('json'):
                record = get_record_from_file(os.path.join(root, f), keys_to_use)
                artworks.append(record)
            break
    
    df = pd.DataFrame.from_records(artworks, columns=keys_to_use, index='id')
    return df

In [38]:
df = read_artworks_from_json(keys_to_use)
df.head()

,all_artists,title,medium,acquisitionYear,height,width
id,,,,,,
6620,William Hogarth,A Scene from ‘The Beggar’s Opera’ VI,Oil paint on canvas,1909,762,572
10413,William James Müller,"Study of Pines, Rheinwald",Watercolour on paper,1908,410,269
496,Sir Lawrence Alma-Tadema,A Silent Greeting,Oil paint on wood,1894,229,305
15803,Frederick Walker,The Vagrants,Oil paint on canvas,1886,1264,832
1810,"Sir Edward Coley Burne-Jones, Bt",Head and Hand,Graphite on paper,1932,165,225

In [39]:
df.shape

(738, 6)

In [41]:
df

,all_artists,title,medium,acquisitionYear,height,width
id,,,,,,
6620,William Hogarth,A Scene from ‘The Beggar’s Opera’ VI,Oil paint on canvas,1909,762,572
10413,William James Müller,"Study of Pines, Rheinwald",Watercolour on paper,1908,410,269
496,Sir Lawrence Alma-Tadema,A Silent Greeting,Oil paint on wood,1894,229,305
15803,Frederick Walker,The Vagrants,Oil paint on canvas,1886,1264,832
1810,"Sir Edward Coley Burne-Jones, Bt",Head and Hand,Graphite on paper,1932,165,225
...,...,...,...,...,...,...
80497,James Rosenquist,Sun Sets on the Time Zone,"Paper, acrylic paint, dye and lithograph on paper",2004,1473,2019
19078,Hamish Fulton,Seven Winds. Scotland 1985,Lithograph on paper,1990,829,1070
83640,Thomas Schütte,[no title],Screenprint on paper,2003,320,447
21713,Philip Guston,Untitled,Lithograph on paper,1996,765,570
21706,Philip Guston,Untitled,Lithograph on paper,1996,762,570

In [42]:
df = pd.read_pickle(os.path.join('./data/', 'data_frame.pickle'))
df.artist

id
1035           Blake, Robert
1036           Blake, Robert
1037           Blake, Robert
1038           Blake, Robert
1039          Blake, William
                 ...
122960    P-Orridge, Genesis
122961    P-Orridge, Genesis
121181          Hatoum, Mona
112306         Creed, Martin
127035     Brunias, Agostino
Name: artist, Length: 69201, dtype: object

In [43]:
df['artist']

id
1035           Blake, Robert
1036           Blake, Robert
1037           Blake, Robert
1038           Blake, Robert
1039          Blake, William
                 ...
122960    P-Orridge, Genesis
122961    P-Orridge, Genesis
121181          Hatoum, Mona
112306         Creed, Martin
127035     Brunias, Agostino
Name: artist, Length: 69201, dtype: object

In [44]:
artists = df['artist']
artists

id
1035           Blake, Robert
1036           Blake, Robert
1037           Blake, Robert
1038           Blake, Robert
1039          Blake, William
                 ...
122960    P-Orridge, Genesis
122961    P-Orridge, Genesis
121181          Hatoum, Mona
112306         Creed, Martin
127035     Brunias, Agostino
Name: artist, Length: 69201, dtype: object

In [45]:
pd.unique(artists)

array(['Blake, Robert', 'Blake, William', 'Richmond, George', ...,
       'Sterne, Hedda', 'P-Orridge, Genesis', 'Brunias, Agostino'],
      dtype=object)

In [46]:
len(pd.unique(artists))

3336

In [49]:
df[df['artist'] == 'Bacon, Francis']

,artist,title,medium,year,acquisitionYear,width,height,units
id,,,,,,,,
672,"Bacon, Francis",Figure in a Landscape,Oil paint on canvas,1945,1950.0,1448,1283,mm
673,"Bacon, Francis",Study of a Dog,Oil paint on canvas,1952,1952.0,1981,1372,mm
674,"Bacon, Francis",Three Studies for Figures at the Base of a Cru...,Oil paint on 3 boards,1944,1953.0,NaN,NaN,NaN
677,"Bacon, Francis",Study for a Portrait of Van Gogh IV,Oil paint on canvas,1957,1958.0,1524,1168,mm
678,"Bacon, Francis",Reclining Woman,Oil paint on canvas,1961,1961.0,1988,1416,mm
679,"Bacon, Francis",Seated Figure,Oil paint on canvas,1961,1961.0,1651,1422,mm
680,"Bacon, Francis",Study for Portrait on Folding Bed,Oil paint on canvas,1963,1963.0,1981,1473,mm
681,"Bacon, Francis",Portrait of Isabel Rawsthorne,Oil paint on canvas,1966,1966.0,813,686,mm
682,"Bacon, Francis",Three Figures and Portrait,Oil paint and pastel on canvas,1975,1977.0,1981,1473,mm
683,"Bacon, Francis",Study for Portrait II (after the Life Mask of ...,Oil paint on canvas,1955,1979.0,610,508,mm
684,"Bacon, Francis",Triptych - August 1972,Oil paint on 3 canvases,1972,1980.0,NaN,NaN,NaN
19509,"Bacon, Francis",Second Version of Triptych 1944,Oil paint and acrylic paint on 3 canvases,1988,1991.0,NaN,NaN,NaN
26004,"Bacon, Francis",Figure in a Landscape,Oil paint on paper,1952,1998.0,339,263,mm
26003,"Bacon, Francis",Turning Figure,Graphite and oil paint on paper,1959,1998.0,339,263,mm
26001,"Bacon, Francis","Reclining Figure, No. 1",Oil paint and ink on paper,1961,1998.0,238,156,mm
26002,"Bacon, Francis","Reclining Figure, No. 2",Oil paint and ink on paper,1961,1998.0,222,150,mm
26025,"Bacon, Francis","Two Owls, No. 1",Graphite and oil paint on paper,1957,1998.0,270,340,mm
26060,"Bacon, Francis",Figure in a Framework,Graphite and oil paint on paper,1957,1998.0,340,270,mm
26059,"Bacon, Francis",Collapsed Figure,Oil paint on paper,1957,1998.0,340,270,mm
26026,"Bacon, Francis",Figure Bending Forwards,Oil paint on paper,1957,1998.0,340,270,mm
26058,"Bacon, Francis","Two Owls, No. 2",Oil paint on paper,1957,1998.0,340,270,mm
26057,"Bacon, Francis",Falling Figure,Graphite and oil paint on paper,1957,1998.0,340,270,mm
26055,"Bacon, Francis","Figure with Left Arm Raised, No. 1",Oil paint on paper,1957,1998.0,340,270,mm
26056,"Bacon, Francis","Figure with Left Arm Raised, No. 2",Oil paint on paper,1957,1998.0,340,270,mm
26054,"Bacon, Francis",Figure with Arms Swung Out,Oil paint on paper,1957,1998.0,340,265,mm
26053,"Bacon, Francis",Seated Figure,Graphite on paper,1957,1998.0,340,270,mm
26052,"Bacon, Francis",Figure Lying Flat,Graphite and oil paint on paper,1957,1998.0,340,270,mm
26051,"Bacon, Francis",Figure in Grey Interior,Graphite and oil paint on paper,1957,1998.0,340,270,mm
26050,"Bacon, Francis",Standing Figure,Ink on paper,1957,1998.0,340,270,mm
26049,"Bacon, Francis",Figure with Foot in Hand,Oil paint and ink on paper,1957,1998.0,270,340,mm
26048,"Bacon, Francis",Fallen Figure,Oil paint on paper,1957,1998.0,340,270,mm
26047,"Bacon, Francis",Fallen Figure with Arms Up,Oil paint on paper,1957,1998.0,340,270,mm
26046,"Bacon, Francis","Bending Figure, No. 1",Oil paint on paper,1957,1998.0,340,270,mm
26045,"Bacon, Francis",Figure Crawling,Oil paint on paper,1957,1998.0,340,270,mm
26044,"Bacon, Francis",Head,Oil paint on paper,1957,1998.0,340,270,mm
26043,"Bacon, Francis","Figure Lying, No. 1",Oil paint on paper,1957,1998.0,340,270,mm
26042,"Bacon, Francis","Figure Lying, No. 2",Oil paint on paper,1957,1998.0,340,270,mm
26041,"Bacon, Francis","Blue Crawling Figure, No. 1",Oil paint on paper,1957,1998.0,340,270,mm
26040,"Bacon, Francis","Blue Crawling Figure, No. 2",Oil paint on paper,1957,1998.0,340,270,mm
26039,"Bacon, Francis",Pink Crawling Figure,Oil paint and ink on paper,1957,1998.0,340,270,mm
26038,"Bacon, Francis","Bending Figure, No. 2",Ink and oil paint on paper,1957,1998.0,340,270,mm
26037,"Bacon, Francis",Composition,Oil paint on paper,1957,1998.0,340,270,mm
26036,"Bacon, Francis",Man on a Bed,Graphite on paper,1957,1998.0,254,190,mm
26035,"Bacon, Francis",Man on a Sofa,Oil paint on paper,1957,1998.0,254,190,mm
26034,"Bacon, Francis",Nude Reading,Graphite and oil paint on paper,1957,1998.0,254,190,mm
26033,"Bacon, Francis","Cross-legged Figure with Arms Raised, No. 1",Graphite on paper,1957,1998.0,254,190,mm
26032,"Bacon, Francis","Cross-legged Figure with Arms Raised, No. 2",Oil paint on paper,1957,1998.0,254,190,mm
26031,"Bacon, Francis",Seated Woman,Graphite on paper,1957,1998.0,254,190,mm
21897,"Bacon, Francis",Figures in a Garden,Oil paint on canvas,1936,2008.0,740,940,mm
111,"Bacon, Francis",Study for a Portrait,Oil paint and sand on canvas,1952,2008.0,661,561,mm

In [50]:
s = df['artist'] == 'Bacon, Francis'
s.value_counts()

False    69151
True        50
Name: artist, dtype: int64

In [51]:

artist_counts = df['artist'].value_counts()
artist_counts['Bacon, Francis']

50

In [52]:
df.loc[1035, 'artist']

'Blake, Robert'

In [53]:
df.loc[df['artist'] == 'Bacon, Francis', :]

,artist,title,medium,year,acquisitionYear,width,height,units
id,,,,,,,,
672,"Bacon, Francis",Figure in a Landscape,Oil paint on canvas,1945,1950.0,1448,1283,mm
673,"Bacon, Francis",Study of a Dog,Oil paint on canvas,1952,1952.0,1981,1372,mm
674,"Bacon, Francis",Three Studies for Figures at the Base of a Cru...,Oil paint on 3 boards,1944,1953.0,NaN,NaN,NaN
677,"Bacon, Francis",Study for a Portrait of Van Gogh IV,Oil paint on canvas,1957,1958.0,1524,1168,mm
678,"Bacon, Francis",Reclining Woman,Oil paint on canvas,1961,1961.0,1988,1416,mm
679,"Bacon, Francis",Seated Figure,Oil paint on canvas,1961,1961.0,1651,1422,mm
680,"Bacon, Francis",Study for Portrait on Folding Bed,Oil paint on canvas,1963,1963.0,1981,1473,mm
681,"Bacon, Francis",Portrait of Isabel Rawsthorne,Oil paint on canvas,1966,1966.0,813,686,mm
682,"Bacon, Francis",Three Figures and Portrait,Oil paint and pastel on canvas,1975,1977.0,1981,1473,mm
683,"Bacon, Francis",Study for Portrait II (after the Life Mask of ...,Oil paint on canvas,1955,1979.0,610,508,mm
684,"Bacon, Francis",Triptych - August 1972,Oil paint on 3 canvases,1972,1980.0,NaN,NaN,NaN
19509,"Bacon, Francis",Second Version of Triptych 1944,Oil paint and acrylic paint on 3 canvases,1988,1991.0,NaN,NaN,NaN
26004,"Bacon, Francis",Figure in a Landscape,Oil paint on paper,1952,1998.0,339,263,mm
26003,"Bacon, Francis",Turning Figure,Graphite and oil paint on paper,1959,1998.0,339,263,mm
26001,"Bacon, Francis","Reclining Figure, No. 1",Oil paint and ink on paper,1961,1998.0,238,156,mm
26002,"Bacon, Francis","Reclining Figure, No. 2",Oil paint and ink on paper,1961,1998.0,222,150,mm
26025,"Bacon, Francis","Two Owls, No. 1",Graphite and oil paint on paper,1957,1998.0,270,340,mm
26060,"Bacon, Francis",Figure in a Framework,Graphite and oil paint on paper,1957,1998.0,340,270,mm
26059,"Bacon, Francis",Collapsed Figure,Oil paint on paper,1957,1998.0,340,270,mm
26026,"Bacon, Francis",Figure Bending Forwards,Oil paint on paper,1957,1998.0,340,270,mm
26058,"Bacon, Francis","Two Owls, No. 2",Oil paint on paper,1957,1998.0,340,270,mm
26057,"Bacon, Francis",Falling Figure,Graphite and oil paint on paper,1957,1998.0,340,270,mm
26055,"Bacon, Francis","Figure with Left Arm Raised, No. 1",Oil paint on paper,1957,1998.0,340,270,mm
26056,"Bacon, Francis","Figure with Left Arm Raised, No. 2",Oil paint on paper,1957,1998.0,340,270,mm
26054,"Bacon, Francis",Figure with Arms Swung Out,Oil paint on paper,1957,1998.0,340,265,mm
26053,"Bacon, Francis",Seated Figure,Graphite on paper,1957,1998.0,340,270,mm
26052,"Bacon, Francis",Figure Lying Flat,Graphite and oil paint on paper,1957,1998.0,340,270,mm
26051,"Bacon, Francis",Figure in Grey Interior,Graphite and oil paint on paper,1957,1998.0,340,270,mm
26050,"Bacon, Francis",Standing Figure,Ink on paper,1957,1998.0,340,270,mm
26049,"Bacon, Francis",Figure with Foot in Hand,Oil paint and ink on paper,1957,1998.0,270,340,mm
26048,"Bacon, Francis",Fallen Figure,Oil paint on paper,1957,1998.0,340,270,mm
26047,"Bacon, Francis",Fallen Figure with Arms Up,Oil paint on paper,1957,1998.0,340,270,mm
26046,"Bacon, Francis","Bending Figure, No. 1",Oil paint on paper,1957,1998.0,340,270,mm
26045,"Bacon, Francis",Figure Crawling,Oil paint on paper,1957,1998.0,340,270,mm
26044,"Bacon, Francis",Head,Oil paint on paper,1957,1998.0,340,270,mm
26043,"Bacon, Francis","Figure Lying, No. 1",Oil paint on paper,1957,1998.0,340,270,mm
26042,"Bacon, Francis","Figure Lying, No. 2",Oil paint on paper,1957,1998.0,340,270,mm
26041,"Bacon, Francis","Blue Crawling Figure, No. 1",Oil paint on paper,1957,1998.0,340,270,mm
26040,"Bacon, Francis","Blue Crawling Figure, No. 2",Oil paint on paper,1957,1998.0,340,270,mm
26039,"Bacon, Francis",Pink Crawling Figure,Oil paint and ink on paper,1957,1998.0,340,270,mm
26038,"Bacon, Francis","Bending Figure, No. 2",Ink and oil paint on paper,1957,1998.0,340,270,mm
26037,"Bacon, Francis",Composition,Oil paint on paper,1957,1998.0,340,270,mm
26036,"Bacon, Francis",Man on a Bed,Graphite on paper,1957,1998.0,254,190,mm
26035,"Bacon, Francis",Man on a Sofa,Oil paint on paper,1957,1998.0,254,190,mm
26034,"Bacon, Francis",Nude Reading,Graphite and oil paint on paper,1957,1998.0,254,190,mm
26033,"Bacon, Francis","Cross-legged Figure with Arms Raised, No. 1",Graphite on paper,1957,1998.0,254,190,mm
26032,"Bacon, Francis","Cross-legged Figure with Arms Raised, No. 2",Oil paint on paper,1957,1998.0,254,190,mm
26031,"Bacon, Francis",Seated Woman,Graphite on paper,1957,1998.0,254,190,mm
21897,"Bacon, Francis",Figures in a Garden,Oil paint on canvas,1936,2008.0,740,940,mm
111,"Bacon, Francis",Study for a Portrait,Oil paint and sand on canvas,1952,2008.0,661,561,mm

In [54]:
df.iloc[100:300, [0,1,4]]

,artist,title,acquisitionYear
id,,,
1737,"Burne-Jones, Sir Edward Coley, Bt",Head of a Girl,1927.0
1738,"Burne-Jones, Sir Edward Coley, Bt",Figure Study,1927.0
1739,"Burne-Jones, Sir Edward Coley, Bt",Study of the Head of a Female Attendant for ‘T...,1927.0
20231,"Burne-Jones, Sir Edward Coley, Bt",Study of Iseult for ‘The Marriage of Sir Trist...,1927.0
1740,"Burne-Jones, Sir Edward Coley, Bt",Composition Study for ‘Clerk Saunders’,1927.0
...,...,...,...
7329,"Jones, George",[title not known],1888.0
7330,"Jones, George",[title not known],1888.0
7331,"Jones, George",[title not known],1888.0
7332,"Jones, George",[title not known],1888.0
7333,"Jones, George",[title not known],1888.0

In [55]:

df.iloc[:, [0,1,4]]

,artist,title,acquisitionYear
id,,,
1035,"Blake, Robert",A Figure Bowing before a Seated Old Man with h...,1922.0
1036,"Blake, Robert","Two Drawings of Frightened Figures, Probably f...",1922.0
1037,"Blake, Robert",The Preaching of Warning. Verso: An Old Man En...,1922.0
1038,"Blake, Robert",Six Drawings of Figures with Outstretched Arms,1922.0
1039,"Blake, William",The Circle of the Lustful: Francesca da Rimini...,1919.0
...,...,...,...
122960,"P-Orridge, Genesis",Larvae (from Tampax Romana),2013.0
122961,"P-Orridge, Genesis",Living Womb (from Tampax Romana),2013.0
121181,"Hatoum, Mona",Present Tense,2013.0
112306,"Creed, Martin",Work No. 227: The lights going on and off,2013.0
127035,"Brunias, Agostino",Dancing Scene in the West Indies,2013.0

In [56]:
df['height'] * df['width']

TypeError: can't multiply sequence by non-int of type 'float'

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69201 entries, 1035 to 127035
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   artist           69201 non-null  object
 1   title            69201 non-null  object
 2   medium           62817 non-null  object
 3   year             63823 non-null  object
 4   acquisitionYear  69156 non-null  float64
 5   width            65860 non-null  object
 6   height           65860 non-null  object
 7   units            65860 non-null  object
dtypes: float64(1), object(7)
memory usage: 7.3+ MB

In [65]:
df[df['height'].isna()]

,artist,title,medium,year,acquisitionYear,width,height,units
id,,,,,,,,
1505,British School 18th century,[title not known],Watercolour on paper,NaN,1896.0,NaN,NaN,NaN
1506,British School 18th century,[title not known],Watercolour on paper,NaN,1896.0,NaN,NaN,NaN
1507,British School 18th century,[title not known],Watercolour on paper,NaN,1896.0,NaN,NaN,NaN
1508,British School 18th century,[title not known],Watercolour on paper,NaN,1896.0,NaN,NaN,NaN
1509,British School 18th century,[title not known],Watercolour on paper,NaN,1896.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
121283,"Rhodes, Lis",Light Music,"Film, 16 mm, 2 projections, black and white, a...",1975,2013.0,NaN,NaN,NaN
117863,"Andrade, Jonathas de",Tropical Hangover,"151 text panels, typewritten ink on paper, 53 ...",2009,2013.0,NaN,NaN,NaN
120549,"Oursler, Tony",The Influence Machine,"Video, multiple projections, sound and smoke",2000,2013.0,NaN,NaN,NaN
122900,"Flanagan, Barry",sand girl,"Film, Super 8mm, projection, colour",1970,2013.0,NaN,NaN,NaN
112306,"Creed, Martin",Work No. 227: The lights going on and off,Gallery lighting,2000,2013.0,NaN,NaN,NaN

In [69]:
df['width'].sort_values().head()

id
20822            (1):
105337    (diameter):
98671         (each):
76420         (each):
91391        (image):
Name: width, dtype: object

In [71]:
df['width'].sort_values().tail()

id
121283    NaN
117863    NaN
120549    NaN
122900    NaN
112306    NaN
Name: width, dtype: object

In [74]:
pd.to_numeric(df['width'], errors='coerce').sort_values().head()

id
9453      3.0
21771     5.0
21770     9.0
8976     10.0
509      10.0
Name: width, dtype: float64

In [75]:
pd.to_numeric(df['height'], errors='coerce')

id
1035       419.0
1036       213.0
1037       467.0
1038       394.0
1039       335.0
           ...
122960     305.0
122961     305.0
121181    2410.0
112306       NaN
127035     660.0
Name: height, Length: 69201, dtype: float64

In [76]:
df.loc[:, 'height'] = pd.to_numeric(df['height'], errors='coerce')
df.loc[:, 'width'] = pd.to_numeric(df['width'], errors='coerce')

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69201 entries, 1035 to 127035
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   artist           69201 non-null  object
 1   title            69201 non-null  object
 2   medium           62817 non-null  object
 3   year             63823 non-null  object
 4   acquisitionYear  69156 non-null  float64
 5   width            65834 non-null  float64
 6   height           65859 non-null  float64
 7   units            65860 non-null  object
dtypes: float64(3), object(5)
memory usage: 7.3+ MB

In [78]:
df['width'] * df['height']

id
1035      165086.0
1036       66243.0
1037      160181.0
1038      125292.0
1039       81405.0
            ...
122960     93025.0
122961     93025.0
121181    108450.0
112306         NaN
127035    335280.0
Length: 69201, dtype: float64

In [79]:
area = df['height'] * df['width']
df = df.assign(area=area)
df

,artist,title,medium,year,acquisitionYear,width,height,units,area
id,,,,,,,,,
1035,"Blake, Robert",A Figure Bowing before a Seated Old Man with h...,"Watercolour, ink, chalk and graphite on paper....",NaN,1922.0,394.0,419.0,mm,165086.0
1036,"Blake, Robert","Two Drawings of Frightened Figures, Probably f...",Graphite on paper,NaN,1922.0,311.0,213.0,mm,66243.0
1037,"Blake, Robert",The Preaching of Warning. Verso: An Old Man En...,Graphite on paper. Verso: graphite on paper,1785,1922.0,343.0,467.0,mm,160181.0
1038,"Blake, Robert",Six Drawings of Figures with Outstretched Arms,Graphite on paper,NaN,1922.0,318.0,394.0,mm,125292.0
1039,"Blake, William",The Circle of the Lustful: Francesca da Rimini...,Line engraving on paper,1826,1919.0,243.0,335.0,mm,81405.0
...,...,...,...,...,...,...,...,...,...
122960,"P-Orridge, Genesis",Larvae (from Tampax Romana),"Perspex, Wood, hairpiece, tampon and human blood",1975,2013.0,305.0,305.0,mm,93025.0
122961,"P-Orridge, Genesis",Living Womb (from Tampax Romana),"Wood, Perspex, plastic, photograph on paper, t...",1976,2013.0,305.0,305.0,mm,93025.0
121181,"Hatoum, Mona",Present Tense,Soap and glass beads,1996,2013.0,45.0,2410.0,mm,108450.0
112306,"Creed, Martin",Work No. 227: The lights going on and off,Gallery lighting,2000,2013.0,NaN,NaN,NaN,NaN
127035,"Brunias, Agostino",Dancing Scene in the West Indies,Oil paint on canvas,1764,2013.0,508.0,660.0,mm,335280.0

In [80]:
df['area'].max()

132462000.0

In [81]:
df['area'].idxmax()

98367

In [82]:
df.loc[df['area'].idxmax(), :]

artist                               Therrien, Robert
title                No Title (Table and Four Chairs)
medium             Aluminium, steel, wood and plastic
year                                             2003
acquisitionYear                                  2008
width                                            8920
height                                          14850
units                                              mm
area                                      1.32462e+08
Name: 98367, dtype: object